[Unit]
Description=Shadowsocks-Libev Client Service Tunnel Mode
After=network.target

[Service]
Type=simple
User=nobody
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
ExecStartPre=/home/yang/bin/shadowsocks/sstunnel-up.sh
ExecStart=/usr/bin/ss-tunnel -b 0.0.0.0 -c /etc/%i.json -l 10053 -L 8.8.8.8:53 -u
ExecStopPost=/home/yang/bin/shadowsocks/sstunnel-down.sh

[Install]
WantedBy=multi-user.target

